@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins;
}

html{
    scroll-behavior:smooth;
}

body{
    background-color:#081520;
    color:white;
}

header{

    width:100%;

    height:90px;

    position:fixed;

    top:0;
    left:0;

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:1000;
}

.header{

    width:80%;

    height:70px;

    background-color:black;

    border-radius:40px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 30px;
}

.logo{

    display:flex;
    align-items:center;
}

.logo img{

    width:50px;
}

nav{

    display:flex;
    align-items:center;

    gap:20px;
}

nav a{

    color:white;

    text-decoration:none;

    padding:8px 16px;

    border-radius:20px;
}

nav a:hover{

    background-color:#1e293b;
}

.btn{

    background-color:#2563eb;
}

/* HERO */

.hero{
    height:100vh;

    background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('./imagem/imagemdefundoGame.png');

    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-texto{
    text-align:center;
}

.titulo{
    font-size:100px;
    letter-spacing:10px;
}

.subtitulo{
    font-size:24px;
    margin-top:15px;
}

/* SEÇÕES */

.secao{
    padding:120px 20px;
    text-align:center;
    background-color:#0b1a25;
}

.secao h2{
    font-size:45px;
    margin-bottom:30px;
}

.secao p{
    font-size:22px;
    max-width:800px;
    margin:auto;
    line-height:2;
}

/* SOBRE */

.conteudo{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:60px;
}

.texto{
    width:45%;
}

.conteudo img{
    width:320px;
    height:320px;
    object-fit:cover;
    border-radius:25px;
    border:3px solid #2563eb;
}

/* HISTORIA */

.historia{
    min-height:100vh;

    background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url('./imagem/PS2Fundo.png');

    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:100px 20px;
}

.historia-conteudo{
    width:75%;
    background-color:#111827;
    padding:60px;
    border-radius:30px;
    text-align:center;
}

.historia-conteudo h2{
    font-size:50px;
    margin-bottom:30px;
}

.historia-conteudo p{
    font-size:22px;
    line-height:2;
    margin-bottom:25px;
}

/* CONTATO */

.contato-box{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:40px;
}

.contato-item{
    width:170px;
    padding:30px;
    background-color:#111827;
    border-radius:25px;

    text-decoration:none;
    color:white;

    display:flex;
    flex-direction:column;
    align-items:center;
}

.contato-item:hover{
    background-color:#1e293b;
}

.contato-item img{
    width:75px;
    height:75px;
    object-fit:contain;
    margin-bottom:15px;
}

.contato-item span{
    font-size:20px;
    font-weight:bold;
}

/* TOP 5 */

.top5{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:120px 20px;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
}

.card{
    width:500px;
    background-color:#111827;
    padding:40px;
    border-radius:25px;
    text-align:center;
}

.card h2{
    font-size:38px;
    margin-bottom:30px;
}

.formulario{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.campo{
    text-align:left;
}

.campo span{
    font-size:18px;
    display:block;
    margin-bottom:10px;
}

.campo input{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    background-color:#1e293b;
    color:white;
    font-size:16px;
    outline:none;
}

.botao{
    width:100%;
    height:50px;
    border:none;
    border-radius:12px;
    background-color:#2563eb;
    color:white;
    font-size:18px;
    cursor:pointer;
}

.botao:hover{
    background-color:#1d4ed8;
}

#lista{
    margin-top:30px;

    display:flex;
    flex-direction:column;

    gap:15px;
}

#lista p{
    background-color:#1e293b;
    padding:15px;
    border-radius:12px;
    font-size:20px;
}
