* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #081520;
    color: white;
    padding-top: 100px;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 10px;
}

.header{
    width: 1000px;
    height: 55px;
    background-color: black;
    border-radius: 40px;
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 35px;
}

nav{
    display: flex;
    gap: 8px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 20px;
}

nav a:hover{
    background-color: #1e293b;
}

#container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 700px;
    background-color: #111827;
    padding: 30px;
    border-radius: 20px;
}

.card p {
    margin-bottom: 15px;
    font-size: 18px;
}

.card h2 {
    margin-bottom: 25px;
    font-size: 28px;
}

#opcoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#opcoes label {
    background-color: #1e293b;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

#opcoes label:hover {
    background-color: #2563eb;
}

button {
    width: 100%;
    margin-top: 25px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1d4ed8;
}

#final {
    text-align: center;
}

#resultado {
    margin-top: 20px;
    font-size: 22px;
}